In [4]:
import pandas as pd
file_path = 'Cycl_T45_SOC10-90_Dch0.5C_Ch0.5C_Vito_Cell63_AllData_aggregated.csv'

In [7]:
data = pd.read_csv(file_path)

In [10]:
print("Data Overview:")
print(data.info())

Data Overview:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4587621 entries, 0 to 4587620
Data columns (total 8 columns):
 #   Column                 Dtype
---  ------                 -----
 0   Unnamed: 0             object
 1   Total_Time_Seconds     float64
 2   Voltage_V              float64
 3   Current_A              float64
 4   Charge_Capacity_Ah     float64
 5   Discharge_Capacity_Ah  float64
 6   Charge_Capacity_Wh     float64
 7   Discharge_Capacity_Wh  float64
dtypes: float64(7), object(1)
memory usage: 280.0+ MB
None

In [13]:
print("\nFirst few rows:")
print(data.head())

First few rows:
                Unnamed: 0  Total_Time_Seconds  Voltage_V  Current_A  \
0  2018-12-03 07:49:39.002               0.002   3.526794   0.000005
1  2018-12-03 07:49:40.000               1.000   3.526399   0.000003
2  2018-12-03 07:49:59.449              20.449   3.526428   0.000005
3  2018-12-03 07:50:00.448              21.448   3.526552   0.000001
4  2018-12-03 07:51:00.448              81.448   3.526509   0.000003

   Charge_Capacity_Ah  Discharge_Capacity_Ah  Charge_Capacity_Wh  \
0                 0.0                    0.0                 0.0
1                 0.0                    0.0                 0.0
2                 0.0                    0.0                 0.0
3                 0.0                    0.0                 0.0
4                 0.0                    0.0                 0.0

   Discharge_Capacity_Wh
0                    0.0
1                    0.0
2                    0.0
3                    0.0
4                    0.0

In [24]:
print("\nMissing values:")
print(data.isnull().sum())

Missing values:
Unnamed: 0               0
Total_Time_Seconds       0
Voltage_V                0
Current_A                0
Charge_Capacity_Ah       0
Discharge_Capacity_Ah    0
Charge_Capacity_Wh       0
Discharge_Capacity_Wh    0
dtype: int64

In [27]:
original_row_count = data.shape[0]

In [30]:
data_cleaned = data.dropna()

In [33]:
cleaned_row_count = data_cleaned.shape[0]

In [36]:
rows_removed = original_row_count - cleaned_row_count

In [39]:
print("\nNumber of rows in the original dataset:", original_row_count)
print("Number of rows in the cleaned dataset:", cleaned_row_count)
print("Number of rows removed:", rows_removed)

Number of rows in the original dataset: 4587621
Number of rows in the cleaned dataset: 4587621
Number of rows removed: 0