In [1]:
import pandas as pd
import os
import matplotlib.pyplot as plt

# function to load all CSV files
def load_and_concatenate_csvs(directory_path):
    data_frames = []
    for file_name in os.listdir(directory_path):
        if file_name.endswith('.csv'):
            file_path = os.path.join(directory_path, file_name)
            df = pd.read_csv(file_path)
            data_frames.append(df)
    concatenated_df = pd.concat(data_frames, ignore_index=True)
    return concatenated_df

In [14]:
# Load the directory
directory_path = r'cycle_data' 
battery_data = load_and_concatenate_csvs(directory_path)


battery_data.info()
battery_data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12480 entries, 0 to 12479
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Cycle_Index              12480 non-null  float64
 1   Start_Time               0 non-null      float64
 2   End_Time                 0 non-null      float64
 3   Test_Time (s)            12480 non-null  float64
 4   Min_Current (A)          12480 non-null  float64
 5   Max_Current (A)          12480 non-null  float64
 6   Min_Voltage (V)          12480 non-null  float64
 7   Max_Voltage (V)          12480 non-null  float64
 8   Charge_Capacity (Ah)     12480 non-null  float64
 9   Discharge_Capacity (Ah)  12480 non-null  float64
 10  Charge_Energy (Wh)       12480 non-null  float64
 11  Discharge_Energy (Wh)    12480 non-null  float64
dtypes: float64(12)
memory usage: 1.1 MB

,Cycle_Index,Start_Time,End_Time,Test_Time (s),Min_Current (A),Max_Current (A),Min_Voltage (V),Max_Voltage (V),Charge_Capacity (Ah),Discharge_Capacity (Ah),Charge_Energy (Wh),Discharge_Energy (Wh)
0,1.0,NaN,NaN,10907.674,-0.550,0.905,2.699,4.201,0.108,1.268,0.455,4.717
1,2.0,NaN,NaN,28594.592,-0.550,1.275,2.699,4.200,1.268,1.269,5.073,4.725
2,3.0,NaN,NaN,46275.123,-0.551,1.293,2.699,4.200,1.268,1.269,5.071,4.730
3,4.0,NaN,NaN,63919.436,-0.551,1.273,2.699,4.200,1.269,1.269,5.076,4.727
4,5.0,NaN,NaN,81579.524,-0.550,1.281,2.699,4.212,1.268,1.268,5.072,4.724

In [15]:
# Check for missing values
missing_values = battery_data.isnull().sum()
print("Missing values per column:")
print(missing_values)

# Drop columns with no data if any
columns_to_drop = battery_data.columns[battery_data.isnull().sum() == len(battery_data)]
battery_data = battery_data.drop(columns=columns_to_drop)

# Handle any remaining missing values 
battery_data.fillna(battery_data.mean(), inplace=True)

battery_data.head()

Missing values per column:
Cycle_Index                    0
Start_Time                 12480
End_Time                   12480
Test_Time (s)                  0
Min_Current (A)                0
Max_Current (A)                0
Min_Voltage (V)                0
Max_Voltage (V)                0
Charge_Capacity (Ah)           0
Discharge_Capacity (Ah)        0
Charge_Energy (Wh)             0
Discharge_Energy (Wh)          0
dtype: int64

,Cycle_Index,Test_Time (s),Min_Current (A),Max_Current (A),Min_Voltage (V),Max_Voltage (V),Charge_Capacity (Ah),Discharge_Capacity (Ah),Charge_Energy (Wh),Discharge_Energy (Wh)
0,1.0,10907.674,-0.550,0.905,2.699,4.201,0.108,1.268,0.455,4.717
1,2.0,28594.592,-0.550,1.275,2.699,4.200,1.268,1.269,5.073,4.725
2,3.0,46275.123,-0.551,1.293,2.699,4.200,1.268,1.269,5.071,4.730
3,4.0,63919.436,-0.551,1.273,2.699,4.200,1.269,1.269,5.076,4.727
4,5.0,81579.524,-0.550,1.281,2.699,4.212,1.268,1.268,5.072,4.724

In [ ]:
import matplotlib.pyplot as plt

# Calculate capacity fade
initial_capacity = battery_data['Charge_Capacity (Ah)'].iloc[0]
battery_data['Capacity_Fade'] = initial_capacity - battery_data['Discharge_Capacity (Ah)']

# Plot capacity fade over cycles
plt.figure(figsize=(10, 6))
plt.plot(battery_data['Cycle_Index'], battery_data['Capacity_Fade'], label='Capacity Fade')
plt.xlabel('Cycle Index')
plt.ylabel('Capacity Fade (Ah)')
plt.title('Capacity Fade Over Cycles')
plt.legend()
plt.show()